.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  width: 25%;
  height: 100px;
  border: 1px solid black;
  background: red;
  font-size: 40px;
  font-weight: 600;
}

.flex-item:nth-child(2n + 1) {
  background: silver;
}

/* смена места в строке */
/* .fi2 {
  order: -1;
} */

/* все оставлшееся место отдает 3-й колонке */
/* .fi3 {
  flex-grow: 1;
} */

/* basis важнее чем width    */
/* .fi2 {
  flex-basis: 100px;
} */
